
# Dummy Variable

* There are 2 Method in this

* 1) Creating Flag or dummy variable for each n every level in a variable into new variable
* 2) Label encoder to make level in same variable to Female=1 and male=2)

In [1]:
import pandas as pd
# Create some toy data in a Pandas dataframe
fruit_data = pd.DataFrame({'Gender':['Female','Male','Male','Female'],
                           'Martial_Status':['Single','Married','Divorce','Married']})
fruit_data

   Gender Martial_Status
0  Female         Single
1    Male        Married
2    Male        Divorce
3  Female        Married

In [2]:
fruit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          4 non-null      object
 1   Martial_Status  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [3]:
fruit_data

   Gender Martial_Status
0  Female         Single
1    Male        Married
2    Male        Divorce
3  Female        Married

In [4]:
# from module.sub-module import funtion 
from sklearn.preprocessing import LabelEncoder #function

fruit_data.apply(LabelEncoder().fit_transform)

   Gender  Martial_Status
0       0               2
1       1               1
2       1               0
3       0               1

In [5]:
fruit_data.Gender=LabelEncoder().fit_transform(fruit_data.Gender)
fruit_data

   Gender Martial_Status
0       0         Single
1       1        Married
2       1        Divorce
3       0        Married

In [6]:
import pandas as pd
# Create some toy data in a Pandas dataframe
fruit_data = pd.DataFrame({
    'Gender':          ['Female','Male','Male','Female'],
    'Martial_Status':  ['Single','Married','Divorce','Married']})
fruit_data

   Gender Martial_Status
0  Female         Single
1    Male        Married
2    Male        Divorce
3  Female        Married

In [7]:
import pandas as pd
fruit_data_dummies = pd.get_dummies(fruit_data) #flag variable

fruit_data_dummies 
# variable making in ascending order

,Gender_Female,Gender_Male,Martial_Status_Divorce,Martial_Status_Married,Martial_Status_Single
0,1,0,0,0,1
1,0,1,0,1,0
2,0,1,1,0,0
3,1,0,0,1,0

# Finish