# Agenda

* Loops
  * While 
  * For
* Lambda Function

## The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i <= 6: # 1,2,3,4,5,6,7 # stop when condition fail 
    print(i)  # 1,2,3,4,5,6
    i =i+ 1 #2,3,4,5,6,7

## The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6: # i = 1,2,3
    print(i) 
    if i == 3: #i=1,2,3
         break
    i=i+1 # i=2,3

In [ ]:
var = 10                    # Second Example
while var > 0: # 10,9,8,7
    print('Current variable value :', var)
    var = var -1 # 9,8,7,6
    if var == 6: #9,8,7,6
        break
print("Good bye!")

## The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
var = 10                    # Second Example
while var > 0: # 10,9,8,7,6,5,4,3,2,1,0
    var = var -1 #9,8,7,6,5,4,3,2,1,0
    if var == 6: # 9,8,7,6,5,4,3,2,1,0
            continue
    print ('Current variable value :', var)
print("Good bye!")

## The else Statement
With the else statement we can run a block of code once when the condition no longer is truem

In [ ]:
i = 1
while i <= 6: # i = 1,2,3,4,5,6
    print(i) 
    i =i+ 1   # i = 2,3,4,5,6,7  
else:
        print("i is no longer less than 6")

# Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]  # list ,reading = word in list
for x in fruits:
    print(x)

## Looping Through a String
Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
for x in "banana": # reading = alphabet in a word
    print(x)

## The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:  # no condition 
    print(x)  # x = apple,banana
    if x == "banana":
        break

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

## The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:  # x =apple,banana,cherry
    if x == "banana": #  match
        continue  # match condition is ignore
    print(x)

## The range() Function
* To loop through a set of code a specified number of times, we can use the range() function,
* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

#### Note that range(6) is not the values of 0 to 6, but the values 0 to 5

In [ ]:
for x in range(5): # n = 5 , range = n-1 = 5-1 = 4
    print(x)

#### range(2, 6), which means values from 2 to 6 (but not including 6)

In [ ]:
for x in range(2, 6):
    print(x)

for x in range(0, 30, 3):
    print(x)

### Else in For Loop

The else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [ ]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

# Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [1]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj: # Red,big,tasty
    for y in fruits: # apple,banana,cherry
        if y == 'apple':
            print("valid")
        else:
            print("InValid")
else:
    print("Outer Invalid")

valid
InValid
InValid
valid
InValid
InValid
valid
InValid
InValid
Outer Invalid

# Lambda Function

In [1]:
def abc(x):
    output = x*2
    return output

In [2]:
abc(2)

4

In [3]:
# Program to show the use of lambda functions
abc = lambda x: x * 2

print(abc(2))

4

In [6]:
list_1 = [1,2,3,4,5,6,7,8,9] # array 
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8]

In [7]:
list_1 = [1,2,3,4,5,6,7,8,9]
cubed = map(lambda x: pow(x,2), list_1)
list(cubed)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})
df

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

In [9]:
df['age'] = df['Birthyear'].apply(lambda x: 2022-x) # x = birthyear
df

   Name    Status  Birthyear  age
0  Luke    Father       1976   46
1  Gina    Mother       1984   38
2   Sam       Son       2013    9
3  Emma  Daughter       2016    6

In [10]:
list(filter(lambda x: x>18, df['age']))

[46, 38]

In [11]:
df['double_age'] = df['age'].map(lambda x: x*2)
df

   Name    Status  Birthyear  age  double_age
0  Luke    Father       1976   46          92
1  Gina    Mother       1984   38          76
2   Sam       Son       2013    9          18
3  Emma  Daughter       2016    6          12

In [12]:
#Conditional Lambda statement
df['Gender'] = df['Status'].map(lambda x: 'Male' if x=='Father' or x=='Son' else 'Female')
df

   Name    Status  Birthyear  age  double_age  Gender
0  Luke    Father       1976   46          92    Male
1  Gina    Mother       1984   38          76  Female
2   Sam       Son       2013    9          18    Male
3  Emma  Daughter       2016    6          12  Female

In [13]:
#convert to lower-case
df[['Name','Status']] = df.apply(lambda x: x[['Name','Status']].str.lower(), axis=1)
df

   Name    Status  Birthyear  age  double_age  Gender
0  luke    father       1976   46          92    Male
1  gina    mother       1984   38          76  Female
2   sam       son       2013    9          18    Male
3  emma  daughter       2016    6          12  Female

# Finished