In [1]:
import pandas as pd

In [10]:
GS1 = pd.read_excel(r"C:\Users\HP\Desktop\Python\Test 1\Global_Superstore.xlsx",sheet_name="Orders")
GS1

,Row ID,Order_ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,8.560,2,0.0,2.4824,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,1.002,High

In [11]:
GS2 = pd.read_excel(r"C:\Users\HP\Desktop\Python\Test 1\Global_Superstore.xlsx",sheet_name="Return")
GS2

                      Order_ID Returned           Region
0     CA-2012-SA20830140-41210      Yes       Central US
1     IN-2012-PB19210127-41259      Yes     Eastern Asia
2     CA-2012-SC20095140-41174      Yes       Central US
3       IN-2015-JH158207-42140      Yes          Oceania
4       IN-2014-LC168857-41747      Yes          Oceania
...                        ...      ...              ...
1074   IN-2014-DA1345058-41769      Yes    Southern Asia
1075  US-2013-HG14845140-41530      Yes       Eastern US
1076   US-2013-SJ2021582-41543      Yes  Central America
1077  CA-2015-EB13870140-42269      Yes       Eastern US
1078    EG-2014-PM894038-41846      Yes     North Africa

[1079 rows x 3 columns]

In [16]:
y = pd.merge(GS1,GS2, on="Order_ID", how="outer")
y

,Row ID,Order_ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority,Returned,Region_y
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.770,High,NaN,NaN
1,40099,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136,25.270,High,NaN,NaN
2,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.630,Critical,NaN,NaN
3,26339,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Copiers,"Brother Fax and Copier, Laser",344.682,2,0.1,34.4220,65.350,Critical,NaN,NaN
4,26340,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Storage,"Rogers Folders, Wire Frame",133.920,5,0.1,-6.0300,41.640,Critical,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,6039,MX-2015-HG1502518-42164,2015-06-09,2015-06-11,First Class,HG-1502518,Hunter Glantz,Consumer,NaN,Bragança Paulista,...,Paper,"Green Bar Message Books, Multicolor",84.000,5,0.0,9.2000,1.019,High,NaN,NaN
51286,24175,IN-2015-DB132707-42221,2015-08-05,2015-08-10,Standard Class,DB-132707,Deborah Brumfield,Home Office,NaN,Townsville,...,Binders,"Avery Binder, Economy",58.050,5,0.1,19.9500,1.010,Medium,NaN,NaN
51287,24105,IN-2015-KH1633058-42154,2015-05-30,2015-05-30,Same Day,KH-1633058,Katharine Harms,Corporate,NaN,Lucknow,...,Paper,"Eaton Parchment Paper, Premium",26.940,2,0.0,1.8600,1.010,High,NaN,NaN
51288,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,1.930,High,NaN,NaN
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,1.002,High,NaN,NaN

In [24]:
x = y.iloc[0:9,1:5]
z = y.loc[0:9,"Row ID":"Ship Mode"]
x

                   Order_ID Order Date  Ship Date     Ship Mode
0  CA-2014-AB10015140-41954 2014-11-11 2014-11-13   First Class
1  CA-2014-AB10015140-41954 2014-11-11 2014-11-13   First Class
2    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
3    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
4    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
5    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
6    IN-2014-CR127307-41929 2014-10-17 2014-10-18   First Class
7    IN-2014-CR127307-41929 2014-10-17 2014-10-18   First Class
8    IN-2014-CR127307-41929 2014-10-17 2014-10-18   First Class

In [25]:
z

   Row ID                  Order_ID Order Date  Ship Date     Ship Mode
0   40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13   First Class
1   40099  CA-2014-AB10015140-41954 2014-11-11 2014-11-13   First Class
2   26341    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
3   26339    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
4   26340    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
5   26342    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
6   25330    IN-2014-CR127307-41929 2014-10-17 2014-10-18   First Class
7   25334    IN-2014-CR127307-41929 2014-10-17 2014-10-18   First Class
8   25333    IN-2014-CR127307-41929 2014-10-17 2014-10-18   First Class
9   25331    IN-2014-CR127307-41929 2014-10-17 2014-10-18   First Class

In [35]:
l = y.loc[y.Profit>0]
l

,Row ID,Order_ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority,Returned,Region_y
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.770,High,NaN,NaN
1,40099,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960,2,0.0,54.7136,25.270,High,NaN,NaN
3,26339,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Copiers,"Brother Fax and Copier, Laser",344.682,2,0.1,34.4220,65.350,Critical,NaN,NaN
5,26342,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Accessories,"Enermax Flash Drive, Erganomic",70.794,2,0.1,25.1340,10.480,Critical,NaN,NaN
6,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.490,Medium,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,6039,MX-2015-HG1502518-42164,2015-06-09,2015-06-11,First Class,HG-1502518,Hunter Glantz,Consumer,NaN,Bragança Paulista,...,Paper,"Green Bar Message Books, Multicolor",84.000,5,0.0,9.2000,1.019,High,NaN,NaN
51286,24175,IN-2015-DB132707-42221,2015-08-05,2015-08-10,Standard Class,DB-132707,Deborah Brumfield,Home Office,NaN,Townsville,...,Binders,"Avery Binder, Economy",58.050,5,0.1,19.9500,1.010,Medium,NaN,NaN
51287,24105,IN-2015-KH1633058-42154,2015-05-30,2015-05-30,Same Day,KH-1633058,Katharine Harms,Corporate,NaN,Lucknow,...,Paper,"Eaton Parchment Paper, Premium",26.940,2,0.0,1.8600,1.010,High,NaN,NaN
51288,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,1.930,High,NaN,NaN
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,1.002,High,NaN,NaN

In [30]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51290 entries, 0 to 51289
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order_ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region_x        51290 non-null  object
 13  Market          51290 non-null  object
 14  Product_ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub_Category    51290 non-null  object
 17  Product_Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping_Cost   51290 non-null  float64
 23  Order_Priority  51290 non-null  object
 24  Returned        2220 non-null   object
 25  Region_y        2220 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(2), object(17)
memory usage: 12.6+ MB

In [38]:
y = y.rename(columns={"Sales":"Revenue"})

In [39]:
y.Row ID = y.Row ID.astype(float)

SyntaxError: invalid syntax (674806023.py, line 1)