In [1]:
import pandas as pd

In [2]:
new=pd.read_csv(r"C:\Users\justw\Downloads\Python\weather_report.csv",index_col=['Day'])
new

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

# 1.Differences between loc and iloc
The main is

# 2.

In [3]:
# pass label to 'loc'
new.loc['Fri','Temperature']

10.51

In [4]:
new.iloc[4,1]

10.51

# Use : to return all data

In [5]:
new.loc[:,'Temperature']

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

In [6]:
new.iloc[:,1]

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

In [7]:
# To get
new.loc['Fri',:]

Weather        Shower
Temperature     10.51
Wind               26
Humidity           79
Name: Fri, dtype: object

In [8]:
new.iloc[4,:]

Weather        Shower
Temperature     10.51
Wind               26
Humidity           79
Name: Fri, dtype: object

# 3. Selecting Via a list of Values

In [9]:
new.loc[['Thu','Fri'],'Temperature']

Day
Thu    14.44
Fri    10.51
Name: Temperature, dtype: float64

In [10]:
new.loc['Fri',['Temperature','Wind']]

Temperature    10.51
Wind              26
Name: Fri, dtype: object

In [11]:
new.iloc[[3,4],1]

Day
Thu    14.44
Fri    10.51
Name: Temperature, dtype: float64

In [12]:
new.iloc[4,[1,2]]

Temperature    10.51
Wind              26
Name: Fri, dtype: object

In [13]:
new

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [14]:
new.iloc[[4,5],[1,3]]

     Temperature  Humidity
Day
Fri        10.51        79
Sat        11.07        62

In [15]:
rows=['Thu','Fri']
cols=['Temperature','Wind']

new.loc[rows,cols]

     Temperature  Wind
Day
Thu        14.44    11
Fri        10.51    26

In [16]:
rows=[3,4]
cols=[1,2]

new.loc[rows,cols]

KeyError: "None of [Int64Index([3, 4], dtype='int64', name='Day')] are in the [index]"

# 4. Selecting

In [19]:
rows=['Thu','Fri']
new.loc[rows,'Temperature':'Humidity']

     Temperature  Wind  Humidity
Day
Thu        14.44    11        22
Fri        10.51    26        79

In [18]:
cols=['Temperature','Wind']
new.loc['Mon':'Thu',cols]

     Temperature  Wind
Day
Mon        12.79    13
Tue        19.67    28
Wed        17.51    16
Thu        14.44    11

In [21]:
cols=['Temperature','Humidity']
new.loc['Mon':'Thu',cols]

     Temperature  Humidity
Day
Mon        12.79        30
Tue        19.67        96
Wed        17.51        20
Thu        14.44        22

In [22]:
new

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [23]:
new.loc['Mon':'Fri':,:]

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79

In [24]:
new.iloc[[1,2],0:3]

    Weather  Temperature  Wind
Day
Tue   Sunny        19.67    28
Wed   Sunny        17.51    16

In [25]:
new

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [26]:
new.iloc[0:4:2,:]

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Wed   Sunny        17.51    16        20

# 5.Selecting

In [28]:
new

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [29]:
df.loc[df.Weather=='Sunny',:]

NameError: name 'df' is not defined

In [ ]:
df.loc[df.Temperature>15,:]

In [ ]:
df.loc[(df.Humidity)]