# Python Operators

# Python Arithmetic Operators

In [1]:
x=4
y=4


print(x+y)
print(x-y)
print(x/y)
print(x*y)

8
0
1.0
16

#  Modulus

In [12]:
x=5
y=2

print(x%y)

1

#  Exponentiation

In [7]:
x=2
y=3

print(x **y)  # same as 2*2*2*2*2

8

#  Floor division

In [4]:
x=5
y=2

print(x%y)   # the floor division // rounds the result down to the nearest whole number

1

# Python Assignment Operators
Assignment operator are used to assign values to variables:

In [5]:
x=17   ## assign
y=x+3  # use assign to create new assign
print(y)

20

# Python Comparison Operators
Comparison operators are used to compare two values:

In [6]:
x=4  #=  assign
y=4


print(x==y)  #equal
print(x!=y)  #Not Equal
print(x>y)   # Greater than
print(x<y)   # Less than
print(x>=y)   # Greater than or equal to
print(x<=y)   # Less than or equal to

True
False
False
False
True
True

# Python Logical Operators
Logical operators are used to combine conditional statements:

In [8]:
x=11  #11

print(x > 3 and  x < 15)  # (cond1  and cond2)

# returns True because 5 is greater than 3 AND 5 is less than 10

print(x > 3 or x < 4)  #(cond= true and cond2 = false)

#returns True bcoz one of the cond are true (5 is greater than 3, but 5 is not less than 4)

print(not(x > 3 and x < 10))

# returns False bcoz not is used to reverse the result

True
True
True

# Python Membership Operators
Membership operators  are used to test if a sequence is presented in an object:

In [9]:
x=["Prashant", "Arjun", "Akash"]

print("Prashant" in x)  # Returns True bcoz a sequence with the value "Prashant" is in the list

True

In [7]:
x=["apple", "banana"]

print("pineapple" not in x)  # Returns True bcoz a sequence with the value "pineapple" is not in the list

True

# Python Identity Operator

In [10]:
x=["apple", "banana"]
y=["apple", "banana"]
z= x

print(x is z)  # is work for location wise

print(x is y)

print(x==y)  # work for apple & banana

True
False
True

# id() is the actual memory address of the variable

In [11]:
print(id(x))
print(id(z))
print(id(y))

2489418034944
2489418034944
2489418039104