# Agenda
* Functions
* Lambda

# Python Functions
* A function is a block of code which only runs when it is called.

# Creating Function

In [14]:
def abc():
    print("Good Morning")

In [15]:
abc()

Good Morning

# Calling a Function
To call a function, use the function name followed by paranthesis:

In [10]:
def my_function():
    print("Hello, from a function")

In [11]:
my_function()

Hello, from a function

# Function Without Parameter

In [16]:
def miss():
    y='curd'
    if y=="curd":
        print("Here is your food")
    else:
        print('invalid')

In [17]:
miss()

Here is your food

In [18]:
def miss():
    print("food is missed")
    
x="Rice"   #variable
if x=="curd":
    print("here is your food")
else:
    miss()

food is missed

#

In [1]:
def abc(first_name):
    print(first_name+ " All good"+", Good Evening")

In [2]:
abc("Prashant")

Prashant All good, Good Evening

In [4]:
def my_function(a,b):
    total=a+b
    sub=total/2
    return (total,sub)

In [5]:
my_function(7,3)

(10, 5.0)

In [22]:
def Subtraction(a,b,c):
    x=a-b-c
    y=a+b+c
    z=x+y
    u=x-y
    return u

In [23]:
Subtraction(10,10,10)

-40

In [1]:
def calculation_total(exp): # tom_list= exp =item
    total=0  #500
    for item in exp:  # iteration
        total=total+item # updated total
    return total

In [3]:
abc=[200,300,500]

In [4]:
tom_total=calculation_total(abc)
print(tom_total)

1000

# # In functions there are four parameters they are asfollows

* 1.Required Arguments or positional
* 2.Keyword Parameters
* 3.Default parameters
* 4.Collecting parameters

#  1.REQUIRED ARGUMENTS OR POSITIONAL PARAMETERS
â€¢ The arguments or parameters which are in a positional format in a( parameters must be in a order)
function is nothing but Positional Arguments or parameters. Parameters in function call will perfectly
match with the function definition.

In [24]:
def num(var1,var2,var3,var4):
    output=var1*var2*var3*var4
    return output

In [25]:
num(2,3,2,2)

24

# 2. Keyword Arguments
* you can also send arguments

In [6]:
def my_function(child3,child2,child1):
    print("The youngest child is " + child2)

In [7]:
my_function(child1="Hitesh", child2="Anil", child3="Nikita")

The youngest child is Anil

In [8]:
my_function(child2 = "Hitesh", child1 = "Anil",child3 = "Nikitha")

The youngest child is Hitesh

# 3. Default Parameter Value

In [36]:
def my_function(country= "Norway"):
    print("I am from "+ country)

In [37]:
my_function()

I am from Norway

In [38]:
my_function("India")

I am from India

In [39]:
def salary_hra(x,hra=4):
    output=x*(hra/100)
    return output

In [40]:
salary_hra(10000)

400.0

In [41]:
salary_hra(10000,6)

600.0

# Passing a List as a Parameter

In [3]:
def my_function(food):
    for x in food:
        print(x)

In [4]:
fruits=["apple","banana","cherry"]
fruits

['apple', 'banana', 'cherry']

In [5]:
my_function(fruits)

apple
banana
cherry

# Return Values

In [49]:
def absolute_value(num):
    if num >=3:
        return num
    else:
        return -num
    
print(absolute_value(2))

print(absolute_value(4))

-2
4

# 4. Collecting Parameter Or Arbitary Arguments

In [53]:
def my_function(*kids):
    print("The youngest child is "+ kids[1])

In [54]:
my_function("Hitesh","Prashant","Arjun","Pranav","Suraj")

The youngest child is Prashant