# Q.1

In [27]:
consonants=[p for i in range(2, 8) for p in range(i*2,100,i)]
prime=[k for k in range(2,100) if k not in consonants] 
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [23]:
lower=2
upper=100
print("Prime numbers between",lower,"and",upper,"are:")
for num in range(lower,upper+1):
    if num > 1 :
        for i in range(2,num):
            if (num % i)==0:
                break
        else:
                print(num)

Prime numbers between 2 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Q.2

In [3]:
def reverse(string):
    str=""
    for i in string:
        str = i+str
    print(str)
string = "Prashant Baban Walunj"
reverse(string)

jnulaW nabaB tnahsarP

In [4]:
str="Prashant Baban Walunj"
p=str[::-1]

print(p)

jnulaW nabaB tnahsarP

In [28]:
str='Prashant Baban Walunj'
a=str.split()[::-1]
l=[]
for i in a:
    l.append(i)
print(" ".join(l))

Walunj Baban Prashant

# Q.3

In [5]:
Days=['Monday','tuesday','friday','Sunday','Saturday']
Output=[]
for i in Days:      
    var = i.split()
    for i in range(len(var)):
        if var[i][0].isupper():
            Output.append(var[i])
print(Output)

['Monday', 'Sunday', 'Saturday']

# Q.4

In [6]:
Batch=['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
Output=[]                
for i in Batch:   
    Output.append(i.split('-')[2])  
print(Output)

['1997', '2011', '1993', '2020']

# Q.5

In [7]:
Module={'Data Science':1,'Machine Learning':2,'SQL':3,'Big Data':4}
Output=dict([(value,key) for key,value in Module.items()])
print(Output)

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

# Q.6

In [21]:
from itertools import accumulate
result=accumulate([5,2,1,4,6],lambda x,y:(x+y)/2)      
for i in result:
    print(i)

5
3.5
2.25
3.125
4.5625

# Q.7

In [31]:
my_string="Data Science"
str=input("Enter string:")

Enter string:p

# Q.8

In [9]:
abc=range(10000,100000)
num=int(input("Enter number:"))
if num in abc:
    print(num,"is in the given range")
else:
    print(num,"is not in the given range")

Enter number:77752
77752 is in the given range

In [33]:
def check(n):
    if n in range(10000,100000):
        print("The number is in the given range")
    else:
        print("The number is not in the given range")
check(77752)

The number is in the given range

# Q.9

In [20]:
abc='111111'
list=[]
for i in abc:
    list.append(i)
    print(" ".join(list))

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1
1 1 1 1 1 1

# Q.10

In [11]:
import math
test_score=[10,32,23,14,25]
abc=sum(test_score)
print("Sum=",abc)

Sum= 104

In [12]:
test_score=[10,32,23,14,25]
sum=0
for i in range(len(test_score)):
       sum = sum + test_score[i]
print("Sum=",sum)

Sum= 104

# Q.11

In [41]:
import numpy as np
Score=np.array([[210, 402, 383],
[140,375,106],
[140,125,217],
[292,240,295]])

min=np.amin(Score,axis=1)                
print("Minimum Value Of Every Row:",min)

min.reshape(2,2)

Minimum Value Of Every Row: [210 106 125 240]

array([[210, 106],
       [125, 240]])

# Q.12

In [14]:
num_array=np.array([0,21,32,13,44,45,26,28,38,34,65,48,76])
num_array[num_array%2==0]= -1
num_array

array([-1, 21, -1, 13, -1, 45, -1, -1, -1, -1, 65, -1, -1])