# Agenda

* Single and multipe line Comments
* Variable Assign
* Python number and To check data type
* To convert data type
* Strings

# Python Comments

In [2]:
print("Hello, World!") #see the output

Hello, World!

In [3]:
#This is a comment
#written in
#more than just one line
print("Hello, Irfan")   #fggggf

Hello, Irfan

In [4]:
"""
This is a comment
written in 
more than just one line
"""
print("Hello, World!")

Hello, World!

# Variable Assign

=

In [6]:
x = 5   # number
y = "John" #String variables can be declared either 
# by using single or double quotes:
print(x)

5

In [7]:
y

'John'

In [8]:
x=3

In [9]:
x

3

In [10]:
print(x)

3

In [17]:
x = "John"
x = 'abc'
print(x)

abc

In [13]:
[1,2,3,4]

[1, 2, 3, 4]

In [19]:
x = [21,22,23,34]

In [16]:
x

[21, 22, 23, 34]

In [23]:
print(x)

[21, 22, 23, 34]

# Assign Value to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [13]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [14]:
x,y,z

('Orange', 'Banana', 'Cherry')

# Python Numbers
There are three numeric types in Python:

* int
* float
* complex

In [9]:
x = 10    # int  --> Discrete 
y = 2.8  # float  --> continuous 
z = 2j   # complex  & J=IMAGINARY

In [2]:
y,x,z

(2.8, 10, 2j)

# To check data type

In [3]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [4]:
x = 1
y = 356562225548877112332343444556
z = -32

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [5]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Float can also be scientific numbers with an "e" to indicate the power of 10.

In [6]:
x = 35e1
z = 35e-1
y = 12e4


print(x)
print(z)
print(y)

print(type(x))
print(type(y))
print(type(z))

350.0
3.5
120000.0
<class 'float'>
<class 'float'>
<class 'float'>

# Complex
Complex numbers are written with a "j" as the imaginary part:

In [7]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods

In [10]:
x = 1
print(type(x))
a = float(x)
print(type(a))
print(a)

<class 'int'>
<class 'float'>
1.0

In [13]:
x= 10.3  # float
print(type(x))
a = int(x)
print(type(a))
print(a)

<class 'float'>
<class 'int'>
10

In [1]:
x = 1 # int
y = 2.8 # float
z = 1j # complex  ### can be decode & encode  but we can't convert 

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [24]:
#convert from int to str:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.2)  # z will be '3.0'

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

s1
2
3.2
<class 'str'>
<class 'str'>
<class 'str'>

In [5]:
y,z

(2.8, 1j)

# String Literals

String literals in python are surrounded by either single quotation marks or double quotation marks

* Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string

In [2]:
a = "Hello"
a

'Hello'

* Strings are Arrays

* Get the character at position 1 (remember that the first character has the position 0):

In [17]:
#    01234567
a = "Hello, World!"
print(a[0])

H

In [19]:
b = "Hello"
print(b[0:2])   # it stop before the last value of range n-1

He

* The len() method returns the length of a string:

In [20]:
a = "Irfan"
len(a)

5

* The lower() method returns the string in lower case:

In [21]:
a = "Hello, World!"  # data
print(a.lower())  ## data.Function

hello, world!

* The upper() method returns the string in upper case:

In [22]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

* The replace() method replaces a string with another string:

In [23]:
a = "Hello, World!"
print(a.replace("H","J"))

Jello, World!

# Command-line String Input

In [4]:
x = input()
#print("Hello", x)

hii

 %notebook "F:/IMS Study Material/Python Code/Data Assign,Type & Vector.ipynb"