# List

In [1]:
thislist=["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# Access Items

In [2]:
thislist=["apple","banana", "cherry"]  
print(thislist[1])   #subset  []  is index

banana

# Change Item Value

In [3]:
thislist=["apple", "banana", "cherry"]
thislist[2]= "orange"
print(thislist)

['apple', 'banana', 'orange']

# List Length

In [4]:
thislist=["apple", "banana", "cherry", "banana"]
print(len(thislist))

4

# Add Items

In [5]:
thislist=["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

* To add an item at the specified index, use the insert() method:

In [9]:
thislist=["apple", "banana", "cherry"]
thislist.insert(0,"orange")
print(thislist)

['orange', 'apple', 'banana', 'cherry']

# Remove Item
 * The pop() method removes the specified index, (or)

In [10]:
thislist=["apple", "banana", "cherry"]
thislist.pop()   # last or index
print(thislist)

['apple', 'banana']

# * The del key

In [11]:
thislist=["apple", "banana", "cherry"]
del thislist[0]  # def / del
print(thislist)

['banana', 'cherry']

In [12]:
# The del keyword can also delete the list completely:
thislist=["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

# * the clear

In [13]:
thislist=["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Make a copy of a list with the copy() method:

In [14]:
thislist=["apple", "banana", "cherry"]
mylist=thislist  # make connection
print(mylist)

['apple', 'banana', 'cherry']

In [15]:
thislist.clear()
print(thislist)

[]

In [16]:
print(mylist)

[]

In [17]:
thislist=["apple", "banana", "cherry"]
mylist=thislist.copy()  # use break connection

In [18]:
thislist.clear()
print(thislist)

[]

# Count

In [19]:
fruits=['apple','banana', 'cherry', 'cherry']
x=fruits.count("cherry")
x

2

# Sorting data

cars=['Ford', 'BMW', 'Volvo']
  # by default is ascending order
  cars.sort()
  cars

In [20]:
# reverse means descending order
cars.sort(reverse=True)

cars

NameError: name 'cars' is not defined

# Tuple

In [21]:
thistuple=("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [22]:
thistuple=("apple", "banana", "cherry")
print(thistuple[2])

cherry

# Change Tuple Values
* Once a tuple is created , you cannot chenges its values.

In [23]:
thistuple=("apple", "banana", "cherry")
thistuple[2]= "orange" # This will raise an error

TypeError: 'tuple' object does not support item assignment

# Remove Items

In [24]:
thistuple=("apple", "banana", "cherry")
del thistuple[1]
print(thistuple) # this will raise an error bcoz the tuple no longer exits

TypeError: 'tuple' object doesn't support item deletion

# Tuple Count()

In [25]:
thistuple=(1,3,7,8,7,5,4,6,8,5)

x=thistuple.count(5)
print(x)

2

# Set

In [26]:
thisset={"aaple", "banana", "cherry"}

thisset.add("orange")  # one keyword

print(thisset)

{'aaple', 'banana', 'cherry', 'orange'}

In [27]:
thisset={"aaple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])  # multiple

print(thisset)

{'banana', 'cherry', 'orange', 'grapes', 'mango', 'aaple'}

# Remove Item

In [28]:
thisset={"aaple", "banana", "cherry", "banana"}

thisset.remove("banana")

print(thisset)  # if the item to

{'aaple', 'cherry'}

In [29]:
thisset={"aaple", "banana", "cherry"}

thisset.discard("bananas")

print(thisset)  # if the item to remove does not exist, discard() will NOT raise an error

{'aaple', 'banana', 'cherry'}

In [30]:
thisset={"aaple", "banana", "cherry"}

x=thisset.pop()   # Sets are unorderd,...

print(x)

print(thisset)

aaple
{'banana', 'cherry'}

# Dictionary

In [33]:
 # thisdict= {"Key":"Value"}
    
    thisdict={
        "brand":"Ford", #column 1
        "model":"Mustang", # column
        "year":1964  # column
    }
    
    print(thisdict)

IndentationError: unexpected indent (3297651155.py, line 3)

# Change Values

In [32]:
thisdict={
        "brand":"Ford", #column 1
        "model":"Mustang", # column
        "year":1964  # column
    }

thisdict["year"]= 2022

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

# Adding Items

In [34]:
thisdict={
        "brand":"Ford", #column 1
        "model":"Mustang", # column
        "year":1964  # column
    }
thisdict["color"] ="red"

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# Removing Items 
* There are several methods to remove items from a dictionary:

In [35]:
thisdict={
        "brand":"Ford", #column 1
        "model":"Mustang", # column
        "year":1964  # column
    }

thisdict.pop("brand")

print(thisdict)

{'model': 'Mustang', 'year': 1964}